* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    justify-content: center;
    align-items: center;
}

@font-face {
    font-family: fontAustin;
    src: url(/Fonts/MoguineSerif.otf);
}

html {
    background-color: rgb(200, 208, 226);
    scroll-behavior: smooth;
}

h1 {
    font-family: fontAustin;
    font-weight: 500;
    font-size: 10rem;
    margin: 0 auto;
}

h2 {
    font-family: fontAustin;
    font-weight: 500;
    font-size: 6rem;
    padding: 10px 50px;
}

h3 {
    font-size: 2rem;
}

button {
    width: 110px;
    height: 10px;
    padding: 20px;
    display: flex;
    font-family: 'Raleway', sans-serif;
    margin: 20px;
    cursor: pointer;
}

p {
    font-family: 'Raleway', sans-serif;
    font-size: 1.5rem;
    font-weight: 600px;
}

a {
    font-family: 'Raleway', sans-serif;
    font-size: 1rem;
    font-weight: 600px;
    color: black;
    transition: all 0.5s;
}

a:hover {
    color: wheat;
    transition: all 0.5s;
}

.navbar {
    position: fixed;
    width: 100vw;
    height: 50px;
    display: flex;
    background-image: linear-gradient(rgb(200, 208, 226), rgba(200, 208, 226, 0.959));
    z-index: 2;
}

.pages_nav {
    position: absolute;
    left: 0;
    display: flex;
    margin-left: 50px;
    gap: 20px;
}

.links_nav {
    position: absolute;
    right: 0;
    margin-right: 50px;
    display: flex;
    gap: 20px;
}

.main-page {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.container-home {
    width: 300px;
    height: 100vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.container-component {
    width: 50vw;
    height: 50vh;
    margin: 0 auto;
    display: flex;
}

.main-page-proyects {
    width: 100vw;
    height: 210vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.container-proyects {
    width: 100vw;
    height: 170vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.card-proyects {
    width: 90vw;
    height: 400px;
    display: flex;
}

.container-images-movie {
    overflow: hidden;
    width: 550px;
    height: 300px;
    background-image: url('/img/img-MoviesApp.png');
    background-size: 100% 100%;
    margin: 25px;
}

.container-images-poke {
    overflow: hidden;
    width: 550px;
    height: 300px;
    background-image: url('/img/img-P1.png');
    background-size: 100% 100%;
    margin: 25px;
}

.container-images-home {
    overflow: hidden;
    width: 550px;
    height: 300px;
    background-image: url('/img/img-kids/homeKids-1.png');


    background-size: 100% 100%;
    margin: 25px;
}

.span-proyects {
    width: 100%;
    height: 300px;
    background-color: rgba(75, 75, 75, 0.048);
    display: flex;
    text-align: center;
    align-items: center;
    backdrop-filter: blur(20px);
    color: wheat;
}

.span-proyects a {
    color: wheat;
}

.card-article {
    width: 600px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    margin: 0 20px;
}

.main-page-skills {
    height: 150vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.container-skills-img {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
}

.skills-img span {
    width: 150px;
    height: 150px;
    background-size: 100% 100%;
    display: flex;
}

.skills-img {
    width: 150px;
    height: 200px;
    padding-left: 10px;
    background-color: rgba(255, 238, 238, 0);
    display: flex;
    margin: 10px;
}

.contact {
    width: 100vw;
    height: 100vh;
    background-color: rgb(200, 208, 226);
    display: flex;
    flex-direction: column;
}

.container-contact {
    width: 600px;
    height: 700px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.container-contact img {
    width: 40px;
    height: 40px;
    display: flex;
}

.container-contact span {
    display: flex;
    margin: 25px;
    gap: 50px;
}

.page-homeKids {
    width: 100vw;
    display: flex;
    flex-direction: column;
    transition: all 0.5s;
    align-items: center;
    justify-content: space-evenly;
}

.section-separate {
    width: 90vw;
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-img-open {
    width: 600px;
    height: 350px;
    margin: 50px;
    overflow: scroll;
    scroll-behavior: auto;
    transition: all 0.5s;
}

.img-kids-open {
    width: 1366px;
    height: 768px;
    background-image: url('/img/img-kids/homeKids-7.png');
    background-size: 100% 100%;
    transition: all .5s;
    background-repeat: no-repeat;
}

.img-kids {
    width: 600px;
    height: 350px;
    background-image: url('/img/img-kids/homeKids-6.png');
    background-size: 100% 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .5s;
    background-repeat: no-repeat;
}

.container-img {
    overflow: hidden;
    width: 600px;
    height: 350px;
    margin: 50px;
   display: flex;
   align-items: center;
   justify-content: center;
    transition: all 0.5s;
}

.section-postman {
    width: 90vh;
    height: 500px;
    display: flex;
    flex-direction: column;
    
}

.img-postman{
    width: 800px;
    height: 400px;
    margin: 50px;
    background-size: 100% 100%;
}