* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    scroll-behavior: smooth;
    color: rgb(10, 10, 10);
    font-family: 'Ubuntu', sans-serif;
}

html {
    overflow-x: hidden;
}
img{
    width: 25px;
    height: 25px;
}

@font-face {
    font-family: 'fontAustin';
    src: url('/Fonts/MoguineSerif.otf');
}

@font-face {
    font-family: 'fontAvalon';
    src: url('/Fonts/Avalon\ Chaligraphy.ttf');
}
button{
    width: 100px;
    height: 50px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: all .3s;
    font-size: 1.1rem;
    background-color: rgba(0, 110, 255, 0.13);
}
button:hover{
    color: rgb(255, 216, 166);
    transition: all .3s;
    background-color: rgb(152, 185, 231);
}
p{
    color: rgb(145, 89, 24);
}

.container-component {
    position: relative;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(120, 140, 150, 0.418);
}

.container h2 {
    position: absolute;
    top: 100px;
    left: 80px;
    font-family: fontAustin;
    font-weight: 50;
    font-size: 5rem;
}
h3{
    font-size: 2rem;
}

.text-about {
    font-size: 1.5rem;

}

.title {
    font-family: fontAustin;
    font-size: 10rem;
    font-weight: 100;
}

.pages_nav {
    display: flex;
    width: 400px;
    grid-column: 1;
    margin-top: 10px;
    justify-content: center;
    gap: 20px;
}

.links_nav {
    width: 500px;
    display: flex;
    grid-column: 3;
    margin-top: 10px;
    justify-content: center;
    gap: 15px;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0px;
    width: 100vw;
    height: 50px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 242, 222, 0.295);
    z-index: 5;
}

a {
    cursor: pointer;
    transition: all .3s;
}

a:hover {
    color: rgb(194, 118, 18);
    transition: all .3s;
}

#about p {
    width: 400px;
    height: 50px;
    margin-left: -800px;
    font-size: 1.5rem;
}

.card-proyects {
    width: 100%;
    height: 300px;   
    margin-top:150px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-size: 1rem;
}
.card-proyects article{
    width: 300px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    font-size: 1.5rem;
    margin: 20px;
    text-align: center;

}
.card-proyects article h3{
    font-size: 3rem;
    font-family: 'fontAustin';
    text-align: start;
}
.card-proyects div {    
    width: 450px;
    height: 250px; 
    color: wheat;
    background-image: url('/img/img-P1.png');
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    overflow: hidden;
}
.card-proyects span{
    opacity: 0;
    width: 100%;
    height: 100%;   
    background-color: rgba(128, 128, 128, 0.445);
    display: flex;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(10px);
    transition: all .3s;
}
.card-proyects span p{
    cursor: pointer;
    font-size: 2rem;
    color: rgb(179, 237, 245);
    transition: all .3s;
}
.card-proyects span p:hover{
    color: wheat;
}

.card-proyects img {
    width: 500px;
    height: 300px;
    margin: 50px;
    clip-path: circle(36% at 50% 50%);
}

.footer {
    width: 100vw;
    height: 50px;
    z-index: 5;
    background-color: rgba(255, 242, 222, 0.295);
}
.contact {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.contact section{
    width: 50%;
    height: 90%;  
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    font-family: 'fontAustin';
} 
.contact span{
    display: flex;
}
.contact h2{
    font-family: 'fontAustin';
    font-size: 3rem;
    font-weight: 200;
}

.contact img{
margin-right: 50px;
}